<h1>Movies List</h1>

<h2>Search movies</h2>
<div>
  <%= form_with url: movies_path, local: true, method: :get do |f| %>
    <%= f.text_field :keyword %>
    <%= f.radio_button :is_showing, "" %>全て
    <%= f.radio_button :is_showing, "1" %>上映中
    <%= f.radio_button :is_showing, "2" %>上映予定
    <%= f.submit "検索" %>
  <% end %>
</div>

<div>
  <% @movies.each do |movie| %>
    <h2>タイトル</h2>
    <h2><%= movie.name %></h2>

    <%= image_tag "#{movie.image_url}" %>
  <% end %>
</div>
